<ul id="nytint-share" class="nytint-sf">
	<li id="sharetools" class="nytint-sf clearfix"><a href="http://www.nytimes.com/gst/mostpopular.html" id="share-button">Share</a>
		<ul id="toolsList" class="toolsList clearfix">
			<li class="linkedin"><a href="http://www.linkedin.com" onclick="NYTD.NYTINT.Share.query('linkedin');return false;">Linkedin</a></li>
			<li class="digg"><a href="http://digg.com/search?section=all&amp;s=nytimes" onclick="NYTD.NYTINT.Share.query('digg');return false;">Digg</a></li>
			<li class="facebook"><a href="http://www.facebook.com/nytimes" onclick="NYTD.NYTINT.Share.query('facebook');return false;">Facebook</a></li>
			<li class="mixx"><a href="http://www.mixx.com" onclick="NYTD.NYTINT.Share.query('mixx');return false;">Mixx</a></li>
			<li class="yahoobuzz"><a href="http://buzz.yahoo.com" onclick="NYTD.NYTINT.Share.query('yahoobuzz');return false;">Buzz up!</a></li>
		</ul>
	</li>
	<!--<li id="emailtools"><a href="http://www.nytimes.com/gst/mostemailed.html" id="email-this-button" class="icon_email" onclick="document.emailThis.submit();return false;">E-Mail</a></li>-->
	<li id="feedback" class="clearfix"><a href="{{ feedback_url }}" id="send-feedback-button" class="icon_feedback">Feedback</a></li>
</ul>