{% extends "admin/base_site.html" %}

{% block content %}
<div id="content-main">
<h1>Overview</h1>
{% for name, district_collection in district_collections.iteritems %}

<h2>{{name}}</h3>
<table>
<tr>
  <th></th>
  <th>Name</th>
  <th>Times Topics Page</th>
  <th colspan="3">Last 30 days</th>
</tr>
<tr>
  <th colspan="3"></th>
  <th>NYT</th>
  <th>City Room</th>
  <th>Blogrunner</th>
</tr>
{% for district in district_collection %}
<tr>
  <td><a href="{{ district.admin_url }}">{{ district.district }}</a></td>
  <td><a href="{{ district.current_official.admin_url }}">{{ district.current_official }}</a></td>
  <td>{% if district.current_official.has_times_topic_url %}<a href="{{ district.current_official.times_topic_url }}">LINK</a>{% endif %}</td>
  <td>{{ district.current_official.article_count }}</td>
  <td>{{ district.current_official.city_room_count }}</td>
  <td>{{ district.current_official.blogrunner_count }}</td>
</tr>
{% endfor %}
</table>
<hr />
{% endfor %}
</div>
{% endblock %}